{% extends 'FluzoContactBundle::layout.html.twig' %}

{% block body %}
<br /> <br /><br /><br /><br /> <br /><br /><br />
<h2 class='col-lg-offset-3 text-success text-center'>{{'Thanks for contact, I\'ll answer you as soon as possible'|trans}}.</h2>
{% endblock %}




